.description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, min-content);
  row-gap: 35px;
  padding-top: 75px;
  font-size: 13px;
}

@media screen and (max-width: 815px) {
  .description { 
    padding-top: 15px; 
  }
}

@media screen and (max-width: 450px) {
  .description {
    grid-template-columns: repeat(1, 200px)
  }
}