header {
  max-width: 1200px;
  margin: 0 auto 75px;
  position: relative;
  text-align: center;
  color: black;
}

header.headerMain {
  color: white;
}

.headerCart {
  position: absolute;
  top: 50px;
  right: 50px;
}

.headerCart a {
  display: flex;
  align-items: center;
}

.headerCart img {
  margin-left: 10px;
}

.logotype {
  display: inline-block;
  margin-top: 50px;
}
