header {
  max-width: 1200px;
  margin: 0 auto 75px;
  position: relative;
  text-align: center;
  color: black;
}

header.headerMain {
  color: white;
}

.headerCart {
  position: absolute;
  margin-top: 50px;
  right: 50px;
}

.logotype {
  display: inline-block;
  margin-top: 50px;
}

@media screen and (max-width: 400px) {
  .logotype {
    margin-right: 40px;
  }
}