header {
  max-width: 1200px;
  margin: 0 auto 75px;
  position: relative;
  text-align: center;
}

.headerCart {
  position: absolute;
  margin-top: 50px;
  right: 50px;
}

.logotype {
  display: inline-block;
  margin-top: 50px;
}