.productsItem {
  width: 300px;
  text-align: center;
  margin-bottom: 20px;
}

.productsItem img {
  transition: all 0.3s;
}

.productsItem img:hover {
  transform: scale(1.05);
}

.productsItem:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1000px) {
  .productsItem {
    width: 250px;
  }

  .productsItem img {
    width: 250px;
  }
}


@media screen and (max-width: 800px) {
  .productsItem:not(:last-child) {
    margin-right: 0px;
  }
}