.checkout {
  display: grid;
  max-width: 1200px;
  margin: 75px auto 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "products delivery"
    ". button";
  column-gap: 30px;
  padding-bottom: 100px;
}


.products {
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.products p {
  text-align: justify;
  margin-bottom: 5px;
}

@media screen and (max-width: 1250px) {
  .checkout {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    grid-template-areas: none;
  }

  .products {
    order: -2;
    margin-bottom: 40px;
    padding: 15px;
  }
}


@media screen and (max-width: 500px) {
  .products {
    padding: 15px;
  }
}