.accessory {
  display: grid;
  max-width: 1400px;
  grid-template-areas: "filter products";
  grid-template-columns: 250px auto;
  margin: 0 auto;
  padding-bottom: 100px;
}

.accessory {
  grid-template-areas: ". products";
}

@media screen and (max-width: 1000px) {
  .accessory {
    grid-template-columns: 180px 600px;
  }
}

@media screen and (max-width: 800px) {
  .accessory {
    grid-template-columns: 180px 400px;
  }
}

@media screen and (max-width: 600px) {
  .accessory {
    display: block;
    
  }
}