.table {
  border-collapse: collapse;
  max-width: 900px;
  margin: 75px auto 0;
}

.table td {
  position: relative;
  text-align: center;
}

.table td {
  border-bottom: 1px solid black;
}

.total {
  padding: 25px 0;
}

